# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# Env vars
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
*.local
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
verspa_site/.next/
verspa_site/node_modules/
